<ul>
  <% @links.each do |link| %>
    <a href = "<%=link.url%>" target="_blank" >
      <li id="link-<%= link.id %>"><%= link.title %></li>
    </a>
  <% end %>
</ul>

<form action="input-link">
  <button type="submit">Add Link</button>
</form>
