<form  action="add-link" method="post">
  <input type="text" name="url" placeholder="http://www.example.com">
  <input type="text" name="title" placeholder="tilte">
  <button type="submit">Add Link</button>
</form>

<form action="/" method="get">
  <button type="submit">Go Back</button>
</form>
